################################################################################
# ML605 development board TES_digitiser design
# Geoff Gillett
################################################################################
#-------------------------------------------------------------------------------
# 200MHz Differential Clock. Other clock constraints will be inferred from DCM
#-------------------------------------------------------------------------------
#CONFIG PART = xc6vlx240tff1156-1;
NET "sys_clk_?" IOSTANDARD = LVDS_25;
NET "sys_clk_?" DIFF_TERM = "TRUE";

NET "sys_clk_p" LOC = J9;
NET "sys_clk_n" LOC = H9;
NET "sys_clk_p" TNM_NET = "sys_clk";
TIMESPEC TS_SYS_CLK = PERIOD "sys_clk" 5 ns HIGH 50 %;

#PIN "signal
#NET "IO_clk" TNM_NET = "IO_clk";
#NET "refclk" TNM_NET = "iodelay_ref_clk";
#NET "s_axi_aclk" TNM_NET = "axi_clk"; -- this old 100 MHz clk no longer implemented
#TIMESPEC TS_axi_clk = PERIOD "idelay_ref_clk" 10 ns HIGH 50 %;
#-------------------------------------------------------------------------------
# USB-UART LEDs and reset switch
#-------------------------------------------------------------------------------
NET "main_Rx" LOC = J24;
NET "main_Rx" IOSTANDARD = LVCMOS25;
NET "main_Tx" LOC = J25;
NET "main_Tx" IOSTANDARD = LVCMOS25;
NET "main_Tx" DRIVE = 4;
NET "main_Tx" SLEW = SLOW;


NET "global_reset" LOC = H10;
# LEDs for debuging
NET "LEDs[0]" LOC = AC22;
NET "LEDs[1]" LOC = AC24;
NET "LEDs[2]" LOC = AE22;
NET "LEDs[3]" LOC = AE23;
NET "LEDs[4]" LOC = AB23;
NET "LEDs[5]" LOC = AG23;
NET "LEDs[6]" LOC = AE24;
NET "LEDs[7]" LOC = AD24;
NET "LEDs[?]" TNM_NET = "LEDS";
NET "LEDs*" TIG;


NET "mainCpu/reset*" TIG;
PIN "mainCpu.main_?x" TIG;
PIN "mainCpu.channel_?x*" TIG;
PIN "*spi_clk" TIG;
PIN "*spi_ce_n*" TIG;
PIN "*spi_miso*" TIG;
PIN "*spi_mosi" TIG;
PIN "mainCpu/spi*" TIG;
NET "mainCpu/*spi*" TIG;
NET "FMC_AD9510_status" TIG;
NET "FMC_power_good" TIG;
NET "FMC_present_n" TIG;
#NET "globalRegisters/flags_reg*" TIG;

#
#NET "*CPU*" TNM_NET = "CPU_inports";
#NET "*regIOblock/data_int*" TNM_NET = "regData";
#NET "*regIOblock/address_int*" TNM_NET = "regAddress";
#TIMEGRP CPU2reg =  "regData" "regAddress";
#
#NET "globalRegisters/*_reg*" TNM_NET = "global_registers";
#NET "*channelRegisters/*_reg*" TNM_NET = "channel_registers";
#TIMEGRP registers =  "global_registers" "channel_registers";

#TIMESPEC TS_pipeline2IO = FROM "pipeline_clk" TO "IO_clk" TIG ;
#TIMESPEC TS_IO2pipeline = FROM "IO_clk" TO "pipeline_clk" TIG ;

#TIMESPEC TS_reg_to_CPU = FROM "registers" TO "CPU_inports" 8 ns;
#TIMESPEC TS_CPU_to_reg = FROM "CPU2reg" TO "registers" 8 ns;
# Fixing problems in frame_to_stream
#NET "*serialiser*data_shifter*" TNM_NET = "serialiser_shifter";
#NET "*ram_data" TNM_NET = "frame_ram";
#TIMESPEC TS_frameram2shifter = FROM "frame_ram" TO "serialiser_shifter" 3.5 ns;
###############################################################################