################################################################################
# ML605 development board TES digitiser design
# Geoff Gillett
################################################################################
################################################################################
# FMC108 ADC mezzanine card
################################################################################
# Texas instruments ADS62P49 dual ADC chips 




#-------------------------------------------------------------------------------

###############################################################################
# TES_digitiser timing constraints
###############################################################################
PIN "mainCpu/reset*" TIG;
PIN "mainCpu.main_?x" TIG;
PIN "mainCpu.channel_?x*" TIG;
PIN "*spi_clk" TIG;
PIN "*spi_ce_n*" TIG;
PIN "*spi_miso*" TIG;
PIN "*spi_mosi" TIG;
PIN "mainCpu/spi*" TIG;
NET "mainCpu/*spi*" TIG;
NET "FMC_AD9510_status" TIG;
NET "FMC_power_good" TIG;
NET "FMC_present_n" TIG;
#NET "globalRegisters/flags_reg*" TIG;

#
#NET "*CPU*" TNM_NET = "CPU_inports";
#NET "*regIOblock/data_int*" TNM_NET = "regData";
#NET "*regIOblock/address_int*" TNM_NET = "regAddress";
#TIMEGRP CPU2reg =  "regData" "regAddress";
#
#NET "globalRegisters/*_reg*" TNM_NET = "global_registers";
#NET "*channelRegisters/*_reg*" TNM_NET = "channel_registers";
#TIMEGRP registers =  "global_registers" "channel_registers";

#TIMESPEC TS_pipeline2IO = FROM "pipeline_clk" TO "IO_clk" TIG ;
#TIMESPEC TS_IO2pipeline = FROM "IO_clk" TO "pipeline_clk" TIG ;

#TIMESPEC TS_reg_to_CPU = FROM "registers" TO "CPU_inports" 8 ns;
#TIMESPEC TS_CPU_to_reg = FROM "CPU2reg" TO "registers" 8 ns;
# Fixing problems in frame_to_stream
#NET "*serialiser*data_shifter*" TNM_NET = "serialiser_shifter";
#NET "*ram_data" TNM_NET = "frame_ram";
#TIMESPEC TS_frameram2shifter = FROM "frame_ram" TO "serialiser_shifter" 3.5 ns;
###############################################################################
