.DS_Store
*.swp
._*
*.old
*/Bitstreams
*.ipf
*/PlanAhead
*/IP_cores/*/*
*/scripts/**/*
!*/scripts/**/*.bat
!*/scripts/**/*.tcl
!*/scripts/**/*.dep
!*/scripts/**/Makefile
*/scripts/**/tmp_*
*/scripts/**/tmp/*
*/PSM/*.hex
*/PSM/*.txt
*/PSM/*.exe
*/PSM/*.fmt
*/PSM/*.dll
*/PSM/*.log
*/PSM/JTAG_Loader_RH_64
junkheap/
#*/simulation/*
#!*/simulation/*.vhd
#!*/simulation/*.tcl
#!*/simulation/*/*.prj
#!*/simulation/*/*.bat
#!*/simulation/*.wcfg
#!*/simulation/matlab/
#!*/simulation/matlab/*.m
#!*/simulation/matlab/*/*.m
*.trace
*/*/**/isim/*
#!TCL_scripts/isim/*
*.exe
*.log
*.xmsgs
*.cmd
*.wdb
*.wfm
*.edif
*.csv
*.backup
vivado_sysgen/data/
vivado_sysgen/tes_traces/
