*- Copy
.DS_Store
*.swp
._*
*.old
*/Bitstreams
*.ipf
**/PlanAhead
*/IP_cores/*/*
*/scripts/**/*
!*/scripts/**/*.bat
!*/scripts/**/*.tcl
!*/scripts/**/*.dep
!*/scripts/**/Makefile
*/scripts/**/tmp_*
*/scripts/**/tmp/*
*/PSM/*.hex
*/PSM/*.txt
*/PSM/*.exe
*/PSM/*.fmt
*/PSM/*.dll
*/PSM/*.log
*/PSM/JTAG_Loader_RH_64
junkheap/
#*/simulation/*
#!*/simulation/*.vhd
#!*/simulation/*.tcl
#!*/simulation/*/*.prj
#!*/simulation/*/*.bat
#!*/simulation/*.wcfg
#!*/simulation/matlab/
#!*/simulation/matlab/*.m
#!*/simulation/matlab/*/*.m
*.trace
*/*/**/isim/*
#!TCL_scripts/isim/*
*.exe
*.log
*.xmsgs
*.cmd
*.wdb
*.wfm
*.edif
*.csv
*.backup
vivado_sysgen/data/
vivado_sysgen/tes_traces/
*.asv
matlab/SysgenFeatureReport.htm
matlab/.Xil/
matlab/slprj/
matlab/tes_traces/
matlab/wavedata/
*.mat
*.idea/
*.ipynb_checkpoints/
*__pycache__/
python/simulation/__pycache__/data.cpython-35.pyc
teslib/simulation/measurement_unit_TB/.ipynb_checkpoints/Untitled-checkpoint.ipynb
teslib/simulation/measurement_unit_TB/*.pickle
python/simulation/__pycache__/plot.cpython-35.pyc
teslib/simulation/measurement_unit_TB/.ipynb_checkpoints/testbench-checkpoint.ipynb
*.bak
teslib/simulation/measurement_mux_TB/.ipynb_checkpoints/
*.pickle
teslib/simulation/measurement_unit_TB/.ipynb_checkpoints/
teslib/simulation/measurement_mux_enet_TB/.ipynb_checkpoints/
teslib/simulation/measurement_subsystem_TB/.ipynb_checkpoints/

python/simulation/__pycache__/
*.xml
*.project
*.prefs
python/tes/__pycache__/
python/tes/simulation/__pycache__/
teslib/Vivado/
teslib/vivado_IP/*/*
teslib/simulation/measurement_overflow_TB/.ipynb_checkpoints/
.texlipse
teslib/simulation/ethernet_framer_TB/.ipynb_checkpoints/
*.jou


streamlib/Vivado/
streamlib/vivado_IP/streambus_fifo/
*.buildpath
*.pdf
docs/images/*.pdf_tex
*.recML
*.bit
python/pcapng/__pycache__/
docs/images/python/.ipynb_checkpoints/
docs/images/python/
docs/images/python/


*.bbl
*.blg
docs/images/python/data/
docs/images/python/data/
docs/images/python/data/
docs/images/python/smootherdata/
docs/images/python/smootherdata/
docs/images/python/smootherdata/
*.eps
*.older
dsplib/Vivado/
teslib/simulation/channel_TB/data/
dsplib/Vivado_IP/cf_queue/
dsplib/Vivado_IP/stage1_FIR_23/
dsplib/Vivado_IP/stage2_FIR_23/
teslib/simulation/channel_TB/.ipynb_checkpoints/
teslib/simulation/measurement_subsystem_TB/.ipynb_checkpoints/
teslib/simulation/measurement_subsystem_TB/data/
dsplib/Vivado_IP/stage1_FIR_71/
mcalib/Vivado/mcalib.ip_user_files/
mcalib/Vivado/mcalib.sim/
mcalib/Vivado/
dsplib/Vivado_IP/stage1_FIR_71_15_0/
dsplib/Vivado_IP/stage1_FIR71_18_3/
dsplib/Vivado_IP/FIR_141SYM_24_28/FIR_141SYM_24_28.dcp
dsplib/Vivado_IP/FIR_141SYM_24_28/FIR_141SYM_24_28.mif
dsplib/Vivado_IP/FIR_141SYM_24_28/
dsplib/Vivado_IP/FIR_142SYM_24_29/
dsplib/Vivado_IP/stage1_FIR_71SYM_25_25/
dsplib/Vivado_IP/stage2_FIR_23_NSYM_25_25/
dsplib/Vivado_IP/FIR_142SYM_24_28/
*.hdf5
*untitled.ipynb
dsplib/Vivado_IP/FIR_ASYM23_C25_28_O23_8_RCE/
dsplib/Vivado_IP/FIR_SYM145_C24_23_O25_3_RCE/
dsplib/Vivado_IP/FIR_SYM141_C24_23_O25_3_RCE/
