INST "MUX" AREA_GROUP = "pblock_output";
INST "transmitter" AREA_GROUP = "pblock_output";
INST "MCA" AREA_GROUP = "pblock_output";
INST "TEMAC" AREA_GROUP = "pblock_output";
INST "frameBuffer" AREA_GROUP = "pblock_output";
AREA_GROUP "pblock_output" RANGE=CLOCKREGION_X1Y1:CLOCKREGION_X1Y2;
NET "FMC108/fifo_empty[7]" KEEP = "FALSE";
NET "FMC108/samples_int_0[13]" KEEP = "FALSE";
NET "FMC108/samples_int_0[12]" KEEP = "FALSE";
NET "FMC108/samples_int_0[11]" KEEP = "FALSE";
NET "FMC108/samples_int_0[10]" KEEP = "FALSE";
NET "FMC108/samples_int_0[9]" KEEP = "FALSE";
NET "FMC108/samples_int_0[8]" KEEP = "FALSE";
NET "FMC108/samples_int_0[7]" KEEP = "FALSE";
NET "FMC108/samples_int_0[6]" KEEP = "FALSE";
NET "FMC108/samples_int_0[5]" KEEP = "FALSE";
NET "FMC108/samples_int_0[4]" KEEP = "FALSE";
NET "FMC108/samples_int_0[3]" KEEP = "FALSE";
NET "FMC108/samples_int_0[2]" KEEP = "FALSE";
NET "FMC108/samples_int_0[1]" KEEP = "FALSE";
NET "FMC108/samples_int_0[0]" KEEP = "FALSE";
NET "FMC108/samples_int_1[13]" KEEP = "FALSE";
NET "FMC108/samples_int_1[12]" KEEP = "FALSE";
NET "FMC108/samples_int_1[11]" KEEP = "FALSE";
NET "FMC108/samples_int_1[10]" KEEP = "FALSE";
NET "FMC108/samples_int_1[9]" KEEP = "FALSE";
NET "FMC108/samples_int_1[8]" KEEP = "FALSE";
NET "FMC108/samples_int_1[7]" KEEP = "FALSE";
NET "FMC108/samples_int_1[6]" KEEP = "FALSE";
NET "FMC108/samples_int_1[5]" KEEP = "FALSE";
NET "FMC108/samples_int_1[4]" KEEP = "FALSE";
NET "FMC108/samples_int_1[3]" KEEP = "FALSE";
NET "FMC108/samples_int_1[2]" KEEP = "FALSE";
NET "FMC108/samples_int_1[1]" KEEP = "FALSE";
NET "FMC108/samples_int_1[0]" KEEP = "FALSE";
NET "FMC108/fifo_rd_en[7]" KEEP = "FALSE";
NET "FMC108/fifo_rd_en[6]" KEEP = "FALSE";
NET "FMC108/fifo_rd_en[5]" KEEP = "FALSE";
NET "FMC108/fifo_rd_en[4]" KEEP = "FALSE";
NET "FMC108/fifo_rd_en[3]" KEEP = "FALSE";
NET "FMC108/fifo_rd_en[2]" KEEP = "FALSE";
NET "FMC108/fifo_rd_en[1]" KEEP = "FALSE";
NET "FMC108/fifo_rd_en[0]" KEEP = "FALSE";
NET "FMC108/fifo_reset[7]" KEEP = "FALSE";
NET "FMC108/fifo_reset[6]" KEEP = "FALSE";
NET "FMC108/fifo_reset[5]" KEEP = "FALSE";
NET "FMC108/fifo_reset[4]" KEEP = "FALSE";
NET "FMC108/fifo_reset[3]" KEEP = "FALSE";
NET "FMC108/fifo_reset[2]" KEEP = "FALSE";
NET "FMC108/fifo_reset[1]" KEEP = "FALSE";
NET "FMC108/fifo_reset[0]" KEEP = "FALSE";
NET "FMC108/fifo_wr_en[7]" KEEP = "FALSE";
NET "FMC108/fifo_wr_en[6]" KEEP = "FALSE";
NET "FMC108/fifo_wr_en[5]" KEEP = "FALSE";
NET "FMC108/fifo_wr_en[4]" KEEP = "FALSE";
NET "FMC108/fifo_wr_en[3]" KEEP = "FALSE";
NET "FMC108/fifo_wr_en[2]" KEEP = "FALSE";
NET "FMC108/fifo_wr_en[1]" KEEP = "FALSE";
NET "FMC108/fifo_wr_en[0]" KEEP = "FALSE";
NET "FMC108/fifo_empty[6]" KEEP = "FALSE";
NET "FMC108/fifo_empty[5]" KEEP = "FALSE";
NET "FMC108/fifo_empty[4]" KEEP = "FALSE";
NET "FMC108/fifo_empty[3]" KEEP = "FALSE";
NET "FMC108/fifo_empty[2]" KEEP = "FALSE";
NET "FMC108/fifo_empty[1]" KEEP = "FALSE";
NET "FMC108/fifo_empty[0]" KEEP = "FALSE";
NET "FMC108/fifo_full_int[1]" KEEP = "FALSE";
NET "FMC108/fifo_full_int[0]" KEEP = "FALSE";
NET "MUX/current_grant[1]" KEEP = "TRUE";
NET "MUX/current_grant[0]" KEEP = "TRUE";
NET "MUX/instream_valid[0]" KEEP = "TRUE";
NET "MUX/instream_valid[1]" KEEP = "TRUE";
NET "MUX/mux_state[1]" KEEP = "TRUE";
NET "MUX/mux_state[0]" KEEP = "TRUE";
